<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">

    <!-- Open Graph tags -->
    <meta property="og:title" content="Barry Moore, M.S." />
    <meta property="og:description" content="Senior scientist in genomics and bioinformatics. Creator of diagnostic tools like VAAST, GEM, and PhenVen." />
    <meta property="og:image" content="https://barrymoore.bio/images/mountain-og.png" />
    <meta property="og:url" content="https://barrymoore.bio" />
    <meta property="og:type" content="website" />
  </head>
